.certificado{
    background-image: linear-gradient(to bottom, transparent 0%, #fff 65%), url("http://localhost/certsys/app/modelos/imagens/bg.jpg");
    background-repeat: no-repeat;
    -webkit-print-color-adjust: exact;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    height: 209.5mm;
    width: 297mm;
    margin-left: -8px;
    margin-top: -21px;
    padding-top: 17px;
}

.curso-bandeira{
    margin-left: 40px;
    padding-top: 40px;
}

.curso-bandeira img{
    height: 80px;
}

.curso-bandeira h1{
    font-size: 28px;
    text-transform: uppercase;
    margin-left: 140px;
    margin-top: -78px;
    padding-bottom: 60px;
    font-style: oblique;
    color: #469348;
}

.text{
    height: 100mm;
    width: 257mm;
    margin-left: 20mm;
    border-radius: 40px;
}

.text h2{
    font-size: 35px;
    padding-top: 15px;
}

.text h3{
    margin-top: -30px;
}

.text h4{
    font-size: 18px;
    text-transform: uppercase;
}

.text h5{
    width: 240mm;
    font-size: 16px;
    font-weight: inherit;
}

.text p{
    padding-right: 10mm;
    margin-bottom: -10px;
    font-size: 13px;
}

.text span{
    font-weight: bold;
}

.linha{
    height: 209.5mm;
    width: 3mm;
    border-radius: 10px;
    background-color: #f8c52f;
}

.info{
    height: 209.5mm;
    width: 10mm;
    background-color: #469348;
    margin-top: -564px;
    margin-left: 287mm;
    border-radius: 10px;
    
}

.text-info span{
    color: #fff;
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 1.3px;
    -webkit-transform: rotate(-90deg);
    transform-origin: right top 0;
    float: right;
    margin-right: 20px;
    margin-top: -740px;
}

.ass-aluno{
    width: 250px;
    margin-left: 30mm;
    margin-top: -55mm;
}

.ass-aluno p{
    font-size: 13px;
}

.ass-diretor{
    width: 250px;
    margin-left: 130mm;
    margin-top: -40mm;
}

.ass-diretor img{
    height: 120px;
    margin-bottom: -15px;
}

.ass-diretor p{
    font-size: 13px;
    margin-bottom: -10px;
}

.ass-diretor h2{
    font-size: 12px;
    margin-bottom: -10px;
}

.ass-instrutor{
    width: 250px;
    margin-left: 30mm;
}

.ass-instrutor img{
    height: 100px;
    margin-bottom: -15px;
}

.ass-instrutor p{
    font-size: 13px;
    margin-bottom: -10px;
}

.ass-instrutor h2{
    font-size: 12px;
    margin-bottom: -10px;
}

.ass-tec{
    width: 250px;
    margin-left: 130mm;
    margin-top: -32mm;
}

.ass-tec img{
    height: 90px;
    margin-bottom: -15px;
}
.ass-tec p{    
    font-size: 13px;
    margin-bottom: -10px;
}

.ass-tec h2{
    font-size: 12px;
    margin-bottom: -10px;
}

.logo-mvb{
    height: 46mm;
    width: 74mm;
    margin-left: 200mm;
    margin-top: -45mm;
}

.qrcode{
    margin-left: 245mm;
    margin-top: -190mm;
}

.caixa-text{
    background-color: #fff;
    height: 100mm;
    width: 257mm;
    margin-left: 20mm;
    margin-top: 10mm;
    border-radius: 40px;
}